
body {
    font-family: Arial, sans-serif;
    background-image: url('jjk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 69%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height:70px ;
    padding-top:20px ;
    background-color: #080000;
    width: auto;
    
}
.navbar .logo {
    color: #fff;
    font-size: 24px;
    margin-left: 50px;
    height: 50px;
    
}
.navbar .menu {
    display: flex;
    gap: 10px;
   
}
.navbar .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: bolder;
}

.navbar .menu a:hover {
    background-color: rgb(109, 7, 218);
    border-radius: 10px;
}
.home {
    margin-top: 300px;
    margin-left: 150px;
    padding-left: 25px;
    padding-top: 20px;
    color: #fff;
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.15);
    width: 500px;
    border-radius: 10px;
    font-weight: bolder;
}
button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 450px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#word-btn {
    border-radius: 50px;
}
button:hover {
    background-color: rgb(109, 7, 218);
}
.web1{
    padding-left: 70px;
    margin-left: 20px;
    margin-left: 20px;
}
.web2{
    margin-left: 20px;
    margin-left: 20px;
}
a {
    margin-right: 50px;
}
.header2 {
    text-align: center;
    margin-top: 200px;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.2);
    width: 400px;
    height: 50px;
    margin-left: 450px;
    padding-top: 5px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bolder;
}
.img1 , .img2 , .img3 {
    height: 300px;
    width: 500px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.word1 , .word2 , .word3 {
    margin-left: 15px;
    margin-right: 10px;
    margin: 100px;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    padding: 5px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border: none;
    margin-left: 55px;
    margin-top: 100px;
   }
   .card {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 15px;
   }
   .card img {
    width: 600px;
    height: 500px;
  
    transition: transform 0.3s;
   }
   .card:hover img {
    transform: scale(1.1);
   }
   .card:active {
    transform: scale(0.9);
   }
   .card-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    transition: transform 0.3s;
   }
   .card:hover .card-details {
    transform: translateY(50%);
   }
   .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
   }
   .card-description {
    font-size: 16px;
    color: #000000;
   }
.image {
    width: 50%;
    height: 600px;
    border-radius: 3px;
}
.container2 {
    width: 800px;
    height: 700px;
    margin-top: 50px;
    margin-left: 250px;
    padding: 20px;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info h2 {
    margin-bottom: 10px;
}
.contact-info p {
    margin: 0;
}
.contact-info  {
    display: inline-block;
    margin-right: 400px;
    text-decoration: none;
    color: #000000;
}
.contact-info a:hover {
    color: #555;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
    
}
.contact-form button[type="submit"] {
    width: 230px;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.contact-form button[type="submit"]:hover {
    background-color: rgb(109, 7, 218);
}
.social{
    height: 10px;
    width: 10px;
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
}
.container1 {
    display: flex; 
    width: 1000px;
    height: 700px;
    margin-top: 50px;
    margin-left: 125px;
    padding: 20px;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}
.content1 {
    color: #000000;
}
.image-slider {
    width: 50%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.image-slider img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slide 12s infinite;
    border-radius: 5px;
}
.image-slider img:nth-child(1) {
    animation-delay: 0s;
}
.image-slider img:nth-child(2) {
    animation-delay: 4s;
}
.image-slider img:nth-child(3) {
    animation-delay: 8s;
}
.content1 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.content1 p {
    line-height: 1.6;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    37% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        height: 120px;
        margin-top: 20px;
        border-radius: 10px;
        font-weight: bolder;
    }
    .menu {
        margin-top: 15px;
        margin-left:50px;
    }
    .home {
        margin-top: 450px;
        margin-left: 15px;
        font-size: 20px;
        width: 400px;
        font-weight: bolder;
    }
    button {
        width: 350px;
    }
    .web1 {
        width: 300px;
        padding-left: 60px;
     } 
    .web2 {
        padding: 10px;
    }
    .logo {
       padding-left: 60px;
    }
    a {
        margin-right: 0;
        margin: 0;
        margin-left: 0;
    }
    .header2 {
       margin-top: 200px;
        margin-left: 15px;
    }
    .img1 , .img2 , .img3 {
        margin-left: 8px;
        margin-right: 10px;
        height: 300px;
        width: 400px;
        flex-direction: column;
        display: flex;
    }
    .word1 , .word3 { 
        margin-top: 350px;
        margin-left: -400px;
    }
    .word2 {
        margin-top: 350px;
        margin-right: -400px;
    }
    .card-container {
        flex-direction: column;
        display: flex;
        margin-left: -5px;
        margin-top: 100px;
    
    }
    .card {
        margin-top: -50px;
        margin-bottom: 150px;

    }
    .image {
        width: 400px;
        height: 500px;
    }
    .container1 {
        margin-left: -10px;
        padding-left: 40px;
        width: 800px;
        flex-direction: row;
        display: flex;
        height: 1400px;
        overflow: scroll;
    }
    .content1 {
        margin-left: -370px;
        margin-top: 700px;
        text-align: center;
    }
    .container2 {
        margin-left: -10px;
    }
    .contact-form button {
        margin-left:70px;
    }
    .contact1{
        margin-left: 80px;
    }
    .contact-form {
        padding-left: 20px;
    }
    .social {
        padding-left: 5px;
        display: flex;
        flex-direction: row;
    }
    .contact-info p {
        margin-left: 50px;
    }
 }
